@charset "UTF-8";
#container {
  width: 99%;
  max-width: 1000px;
  border: 1px solid #9c9fc0;
  background-color: #e8ecff;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

#perfil {
  width: 100%;
}

p,
#perfil ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.block,
#perfil ul #info {
  padding: 10px;
}

#perfil ul #imagen {
  border: 1px solid #9c9fc0;
  background-color: #f9faff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  padding: 25px;
}

#perfil ul #imagen span {
  font-size: 100px;
  color: #9ba0aa;
}

#perfil ul #info #nombre {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}

#signos {
  width: 25%;
  float: left;
  height: 500px;
}

#signos #tituloSignos {
  font-weight: bold;
}

#signos ul {
  border: 1px solid #9c9fc0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

#signos ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 10px;
}

#signos ul li p {
  margin: 0px;
}

#signos ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signos ul li .variable {
  height: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin-left: 20px;
}

/* - Estilos del formulario - */
#formulario {
  width: 80%;
}

#formulario #formTitulo {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#formulario label {
  width: 30%;
}

#formulario input {
  width: 70%;
}

#formulario select {
  width: 70%;
}

#formulario ul {
  width: 100%;
  margin-left: 30px;
}

#formulario ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
}

/* - Estilos del area Antecedentes Clínicos - */
#contenido {
  float: right;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contenido #infoAntecedentes {
  width: 100%;
  margin-left: 30px;
}

#contenido #tituloContenido {
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 0px;
}

#contenido #infoAntecedentes li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contenido #infoAntecedentes li hr {
  width: 85%;
  color: #070722;
}

#contenido #infoAntecedentes li div {
  width: 50%;
}

#contenido .eliminar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  padding-top: 25px;
}

#collapseAntecedentes p {
  margin-left: 60px;
}

#collapseAntecedentes ul {
  padding-left: 50px;
}

#collapseAntecedentes ul li {
  margin: 10px;
}
/*# sourceMappingURL=estilos.css.map */