#editar{
    text-decoration: none;
    color: rgb(83, 82, 185);
}

#editar:hover{
    color: rgb(157, 156, 231);
    cursor: pointer;
}

#mas{
    color: rgb(83, 82, 185);
}

#mas:hover{
    color: rgb(157, 156, 231);
    cursor: pointer;
}

.eliminar{
    color: rgb(83, 82, 185);
}

.eliminar:hover{
    color: rgb(157, 156, 231);
    cursor: pointer;
}

#actualizar{
    background-color: rgb(118, 116, 231);
    border: rgb(118, 116, 231);
}

#crear{
    background-color: rgb(118, 116, 231);
    border: rgb(118, 116, 231);
}

#crear:hover{
    background-color: rgb(157, 156, 231);
    cursor: pointer;
}

#actualizar:hover{
    background-color: rgb(157, 156, 231);
}